body {
  background-color: lightslategray;
}

.sidebar {
  color: orangered;
  width: 180px;
  height: 209px;
  float: right;
  background-image: url(/img/tour.jpg);
  padding-top: 150px;
  margin-top: 40px;
  margin-right: 10px;
}
img {
  float: inherit;
}
.main {
  text-align: center;
  border: 2px solid red;
}